<section ng-controller="howCtrl">

    {{message}}
    <h1>Hello from how</h1>
    
    <ul ng-show="ifJava">
        <li>this is how JAVA works</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quam consequatur, provident consequuntur magnam vitae voluptates minus officia, voluptas exercitationem sequi cumque, nihil fugit aliquam similique reprehenderit odio labore dolore?</li>
    </ul>
    
    <ul ng-show="ifNode">
        <li>this is how NODE works</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quam consequatur, provident consequuntur magnam vitae voluptates minus officia, voluptas exercitationem sequi cumque, nihil fugit aliquam similique reprehenderit odio labore dolore?</li>
    </ul>
    
    <ul ng-show="ifAjs">
        <li>this is how ANGULARJS works</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quam consequatur, provident consequuntur magnam vitae voluptates minus officia, voluptas exercitationem sequi cumque, nihil fugit aliquam similique reprehenderit odio labore dolore?</li>
    </ul>
    
    <ul ng-show="ifPhp">
        <li>this is how PHP works</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quam consequatur, provident consequuntur magnam vitae voluptates minus officia, voluptas exercitationem sequi cumque, nihil fugit aliquam similique reprehenderit odio labore dolore?</li>
    </ul>
    
    <ul ng-show="ifRuby">
        <li>this is how RUBY works</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quam consequatur, provident consequuntur magnam vitae voluptates minus officia, voluptas exercitationem sequi cumque, nihil fugit aliquam similique reprehenderit odio labore dolore?</li>
    </ul>

</section>